ALTER TABLE QUEST_DEV.QCTOD#EMPLOYEES
  DROP CONSTRAINT QCTOD#EMP_MANAGER_FK;


ALTER TABLE QUEST_DEV.QCTOD#EMPLOYEES ADD (
  CONSTRAINT QCTOD#EMP_MANAGER_FK 
  FOREIGN KEY (MANAGER_ID) 
  REFERENCES QUEST_DEV.QCTOD#EMPLOYEES (EMPLOYEE_ID)
  ON DELETE CASCADE);
