ALTER TABLE QUEST_DEV.QCTOD#DEPARTMENTS
  DROP CONSTRAINT QCTOD#DEPT_MGR_FK;


ALTER TABLE QUEST_DEV.QCTOD#DEPARTMENTS ADD (
  CONSTRAINT QCTOD#DEPT_MGR_FK 
  FOREIGN KEY (MANAGER_ID) 
  REFERENCES QUEST_DEV.QCTOD#EMPLOYEES (EMPLOYEE_ID)
  ON DELETE CASCADE);
