ALTER TABLE QUEST_DEV.QCTOD#DEPARTMENTS
  DROP CONSTRAINT QCTOD#DEPT_LOC_FK;


ALTER TABLE QUEST_DEV.QCTOD#DEPARTMENTS ADD (
  CONSTRAINT QCTOD#DEPT_LOC_FK 
  FOREIGN KEY (LOCATION_ID) 
  REFERENCES QUEST_DEV.QCTOD#LOCATIONS (LOCATION_ID)
  ON DELETE CASCADE);
