ALTER TABLE QUEST_DEV.QCTOD#JOB_HISTORY
  DROP CONSTRAINT QCTOD#JHIST_JOB_FK;


ALTER TABLE QUEST_DEV.QCTOD#JOB_HISTORY ADD (
  CONSTRAINT QCTOD#JHIST_JOB_FK 
  FOREIGN KEY (JOB_ID) 
  REFERENCES QUEST_DEV.QCTOD#JOBS (JOB_ID)
  ON DELETE CASCADE);
