ALTER TABLE QUEST_DEV.QCTOD#COUNTRIES
  DROP CONSTRAINT QCTOD#COUNTR_REG_FK;


ALTER TABLE QUEST_DEV.QCTOD#COUNTRIES ADD (
  CONSTRAINT QCTOD#COUNTR_REG_FK 
  FOREIGN KEY (REGION_ID) 
  REFERENCES QUEST_DEV.QCTOD#REGIONS (REGION_ID)
  ON DELETE CASCADE);
