ALTER TABLE QUEST_DEV.QCTOD#JOB_HISTORY
  DROP CONSTRAINT QCTOD#JHIST_EMP_FK;


ALTER TABLE QUEST_DEV.QCTOD#JOB_HISTORY ADD (
  CONSTRAINT QCTOD#JHIST_EMP_FK 
  FOREIGN KEY (EMPLOYEE_ID) 
  REFERENCES QUEST_DEV.QCTOD#EMPLOYEES (EMPLOYEE_ID)
  ON DELETE CASCADE);
