ALTER TABLE QUEST_DEV.OW_ORDER_LINES
  DROP CONSTRAINT OW_LINES_PART_REF;


ALTER TABLE QUEST_DEV.OW_ORDER_LINES ADD (
  CONSTRAINT OW_LINES_PART_REF 
  FOREIGN KEY (PART_ID) 
  REFERENCES QUEST_DEV.OW_PARTS (PART_ID));
