ALTER TABLE QUEST_DEV.QCTOD#JOB_HISTORY
  DROP CONSTRAINT QCTOD#JHIST_EMP_ID_ST_DATE_PK;

ALTER TABLE QUEST_DEV.QCTOD#JOB_HISTORY ADD (
  CONSTRAINT QCTOD#JHIST_EMP_ID_ST_DATE_PK
  PRIMARY KEY
  (EMPLOYEE_ID, START_DATE));
