ALTER TABLE QUEST_DEV.OW_ORDER_LINES
  DROP CONSTRAINT OW_LINES_ORDER_REF;


ALTER TABLE QUEST_DEV.OW_ORDER_LINES ADD (
  CONSTRAINT OW_LINES_ORDER_REF 
  FOREIGN KEY (ORDER_ID) 
  REFERENCES QUEST_DEV.OW_ORDERS (ORDER_ID));
