ALTER TABLE QUEST_DEV.QCTOD#EMPLOYEES
  DROP CONSTRAINT QCTOD#EMP_JOB_FK;


ALTER TABLE QUEST_DEV.QCTOD#EMPLOYEES ADD (
  CONSTRAINT QCTOD#EMP_JOB_FK 
  FOREIGN KEY (JOB_ID) 
  REFERENCES QUEST_DEV.QCTOD#JOBS (JOB_ID)
  ON DELETE CASCADE);
