ALTER TABLE QUEST_DEV.QCTOD#EMPLOYEES
  DROP CONSTRAINT QCTOD#EMP_DEPT_FK;


ALTER TABLE QUEST_DEV.QCTOD#EMPLOYEES ADD (
  CONSTRAINT QCTOD#EMP_DEPT_FK 
  FOREIGN KEY (DEPARTMENT_ID) 
  REFERENCES QUEST_DEV.QCTOD#DEPARTMENTS (DEPARTMENT_ID)
  ON DELETE CASCADE);
