ALTER TABLE QUEST_DEV.QCTOD#JOB_HISTORY
  DROP CONSTRAINT QCTOD#JHIST_DATE_INTERVAL;

ALTER TABLE QUEST_DEV.QCTOD#JOB_HISTORY ADD (
  CONSTRAINT QCTOD#JHIST_DATE_INTERVAL
  CHECK (end_date > start_date));
