ALTER TABLE QUEST_DEV.QCTOD#JOB_HISTORY
  DROP CONSTRAINT QCTOD#JHIST_DEPT_FK;


ALTER TABLE QUEST_DEV.QCTOD#JOB_HISTORY ADD (
  CONSTRAINT QCTOD#JHIST_DEPT_FK 
  FOREIGN KEY (DEPARTMENT_ID) 
  REFERENCES QUEST_DEV.QCTOD#DEPARTMENTS (DEPARTMENT_ID)
  ON DELETE CASCADE);
