ALTER TABLE QUEST_PROD.OW_ORDERS
  DROP CONSTRAINT OW_ORDERS_CUSTOMERS_REF;


ALTER TABLE QUEST_PROD.OW_ORDERS ADD (
  CONSTRAINT OW_ORDERS_CUSTOMERS_REF 
  FOREIGN KEY (CUST_ID) 
  REFERENCES QUEST_PROD.OW_CUSTOMERS (CUST_ID));
